<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
	<head>
		<meta name=Generator content="Microsoft Word 15 (filtered medium)">
			<style>
				<!--
/* Font Definitions */
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-priority:99;
	color:purple;
	text-decoration:underline;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-priority:99;
	mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma",sans-serif;}
p.msonormal0, li.msonormal0, div.msonormal0
	{mso-style-name:msonormal;
	mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-priority:99;
	mso-style-link:"Balloon Text";
	font-family:"Tahoma",sans-serif;}
span.EmailStyle20
	{mso-style-type:personal-compose;
	font-family:"Calibri",sans-serif;
	color:windowtext;}
.MsoChpDefault
	{mso-style-type:export-only;
	font-size:10.0pt;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
			</style>
			<!--[if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]-->
			<!--[if gte mso 9]><xml>
<o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1" />
</o:shapelayout></xml><![endif]-->
		</head>
		<body lang=EN-US link=blue vlink=purple>
			<div class=WordSection1>
				<p class=MsoNormal>
					<span lang=EN-CA>
						<o:p>&nbsp;</o:p>
					</span>
				</p>
				<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=647 style='width:485.45pt;border-collapse:collapse'>
					<tr style='height:15.75pt'>
						<td width=647 nowrap colspan=6 style='width:485.45pt;padding:0in 5.4pt 0in 5.4pt;height:15.75pt'>
							<a name="_GoBack"/>
						</td>
					</tr>
					<tr style='height:22.5pt'>
						<td width=554 colspan=5 style='width:415.7pt;border:solid windowtext 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal align=center style='text-align:center'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>MEMBER INFORMATION <o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Member Name<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ Name }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>New/Rehired/Returning Member<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ NRR }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Start Date<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ StartDate }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Member #<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ MemberNum }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Title<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ Title }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Department<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'/>
						<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ Department }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Manager<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ Manager }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Employment Status (FT/PT/Casual)<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ EmpStatus }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Employment Type (Perm/Term)<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ EmpType }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Office Location<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ Location }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=169 colspan=3 style='width:127.05pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Office/workspace #<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=385 colspan=2 style='width:288.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'/>
                        <p class=MsoNormal>
								<b>
									<span style='font-family:"Arial",sans-serif'>{{ OfficeNum }}<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=554 colspan=5 style='width:415.7pt;border:solid windowtext 1.0pt;border-top:none;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal align=center style='text-align:center'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>MEMBER REQUIREMENTS<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:22.5pt'>
						<td width=126 colspan=2 style='width:94.6pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>DEPARTMENT<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=284 colspan=2 style='width:212.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>TASK<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:22.5pt'>
							<p class=MsoNormal align=center style='text-align:center'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>REQUIRED?<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:22.5pt'/>
					</tr>
					<tr style='height:15.75pt'>
						<td width=554 colspan=5 style='width:415.7pt;border:none;border-bottom:solid windowtext 1.0pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:15.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Office Services<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:15.75pt'/>
					</tr>
					<tr style='height:18.75pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set-up security pass and provide to PR<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'/>
                        <p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ SecurityPass }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:18.75pt'/>
					</tr>
					<tr style='height:18.75pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set-up parking pass and provide to PR<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'/>
                        <p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ ParkingPass }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:18.75pt'/>
					</tr>
					<tr style='height:18.75pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Put name on door/workspace<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ NameOnDoor }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:18.75pt'/>
					</tr>
					<tr style='height:18.75pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Complete ergonomic evaluation<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ ErgonomicEvaluation }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:18.75pt'/>
					</tr>
					<tr style='height:18.75pt'>
						<td width=34 rowspan=2 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Provide standard office supplies<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ StandardSupplies }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:18.75pt'/>
					</tr>
					<tr style='height:18.75pt'>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Order business cards<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ BusinessCards }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:18.75pt'/>
					</tr>
					<tr style='height:15.75pt'>
						<td width=554 colspan=5 style='width:415.7pt;border-top:solid windowtext 1.0pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:15.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Information Technology Services<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:15.75pt'/>
					</tr>
					<tr style='height:25.1pt'>
						<td width=34 rowspan=2 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:25.1pt'/>
						<td width=375 colspan=3 rowspan=2 valign=top style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:25.1pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set up computer: </span>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif'>
									<o:p/>
								</span>
							</p><p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Laptop </span>
								<o:p/>
							</p><p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Desktop <o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:25.1pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ SetUpLaptop }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:25.1pt'/>
					</tr>
					<tr style='height:13.4pt'>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.4pt'/>
                        <p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ SetUpDesktop }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:13.4pt'/>
					</tr>
					<tr style='height:17.25pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Provide training headset to office/workspace<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ TrainingHeadset }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:17.25pt'/>
					</tr>
					<tr style='height:17.25pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set up Polycom phone <o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ PolycomPhone }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:17.25pt'/>
					</tr>
					<tr style='height:17.25pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set up desk phone </span>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif'>number<span style='color:black'>
										<o:p/>
									</span>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ DeskPhone }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:17.25pt'/>
					</tr>
					<tr style='height:17.25pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set up time keeper number<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ GiveTimekeeper }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:17.25pt'/>
					</tr>
					<tr style='height:17.25pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set up with Elite 3E Access<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ EliteAccess }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:17.25pt'/>
					</tr>
					<tr style='height:30.75pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:30.75pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:30.75pt'>
							<p class=MsoNormal style='margin-bottom:12.0pt;text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Other Software:<span style='background:yellow;mso-highlight:yellow'>
										<o:p/>
									</span>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ OtherSoftware }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:30.75pt'/>
					</tr>
					<tr style='height:17.25pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.25pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Set up remote access<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ RemoteAccess }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:17.25pt'/>
					</tr>
					<tr style='height:24.65pt'>
						<td width=34 rowspan=2 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:24.65pt'/>
						<td width=375 colspan=3 rowspan=2 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:24.65pt'>
							<p class=MsoNormal style='text-align:justify'>
								<a name="RANGE!B33">
									<span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Set-up m<span style='color:black'>obile phone</span>
									</span>
								</a>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>:<o:p/>
								</span>
							</p><p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>MC mobile phone<o:p/>
								</span>
							</p><p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Personal mobile phone<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:24.65pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ MCMobile }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:24.65pt'/>
					</tr>
					<tr style='height:.25in'>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:24.65pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ PersonalMobile }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:.25in'/>
					</tr>
					<tr style='height:15.75pt'>
						<td width=554 colspan=5 style='width:415.7pt;border-top:solid windowtext 1.0pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:15.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>CD&amp;S </span>
								</b>
								<span style='font-family:"Arial",sans-serif;color:white'>(For posting to the external website)<b>
										<o:p/>
									</b>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:15.75pt'/>
					</tr>
					<tr style='height:16.5pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Take photograph &amp; </span>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif'>develop biography for external website<span style='color:black'>
										<o:p/>
									</span>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ TakePhoto }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:16.5pt'/>
					</tr>
					<tr style='height:15.0pt'>
						<td width=554 colspan=5 style='width:415.7pt;border-top:solid windowtext 1.0pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:15.0pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Library &amp; Information Services<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:15.0pt'/>
					</tr>
					<tr style='height:16.5pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Add to library routing list<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ LibraryRouting }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:16.5pt'/>
					</tr>
					<tr style='height:16.5pt'>
						<td width=34 style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'/>
						<td width=375 colspan=3 style='width:281.6pt;border:none;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>Provide Quicklaw password<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ QuickLawPassword }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:16.5pt'/>
					</tr>
					<tr style='height:16.5pt'>
						<td width=554 nowrap colspan=5 style='width:415.7pt;background:#E11B37;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
							<p class=MsoNormal style='text-align:justify'>
								<b>
									<span style='font-family:"Arial",sans-serif;color:white'>Finance &amp; Accounting<o:p/>
									</span>
								</b>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:16.5pt'>
							<p class=MsoNormal>&nbsp;<o:p/>
							</p>
						</td>
					</tr>
					<tr style='height:12.75pt'>
						<td width=34 nowrap style='width:25.8pt;border:none;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:12.75pt'/>
						<td width=375 nowrap colspan=3 style='width:281.6pt;border:solid windowtext 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;height:12.75pt'>
							<p class=MsoNormal style='text-align:justify'>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif'>Create Elite #</span>
								<span style='font-size:12.0pt;font-family:"Arial",sans-serif'>
									<o:p/>
								</span>
							</p>
						</td>
						<td width=144 style='width:108.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.75pt'>
							<p class=MsoNormal>
								<span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black'>{{ CreateElite }}<o:p/>
								</span>
							</p>
						</td>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in;height:12.75pt'>
							<p class=MsoNormal>&nbsp;<o:p/>
							</p>
						</td>
					</tr>
					<tr>
						<td width=36 style='width:27.0pt;padding:0in 0in 0in 0in'/>
						<td width=95 style='width:71.25pt;padding:0in 0in 0in 0in'/>
						<td width=45 style='width:33.75pt;padding:0in 0in 0in 0in'/>
						<td width=240 style='width:2.5in;padding:0in 0in 0in 0in'/>
						<td width=144 style='width:1.5in;padding:0in 0in 0in 0in'/>
						<td width=93 style='width:69.75pt;padding:0in 0in 0in 0in'/>
					</tr>
				</table><p class=MsoNormal>
					<span lang=EN-CA>
						<o:p>&nbsp;</o:p>
					</span>
				</p><p class=MsoNormal>
					<span lang=EN-CA>
						<o:p>&nbsp;</o:p>
					</span>
				</p>
			</div>
		</body>
	</html>