{% extends 'MasterData/base.html' %}
{% load static %}

{% block content %}

{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}

<table class="table table-striped">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Department</th>
        <th>Core Group</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for person in people_list %}
    <tr>
        <td>{{ person.FirstName }}</td>
        <td>{{ person.LastName }}</td>
        {% if person.JobTitleID %}
        <td>{{ person.JobTitleID }}</td>
        {% else %}
        <td>{{ person.Title }}</td>
        {% endif %}
        <td>{{ person.DeptID }}</td>
        <td>{{ person.CoreGroup }}</td>
        <td><a href="{% url 'editperson' pk=person.pk %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
