{% extends 'MasterData/base.html' %}
{% block content %}

{{ errortext }}

{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}

<div id="login">
    <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {{ form.errors }}
        {% for field in form %}
           <div class="control-group">
            {{ field.label }}
            <div class="controls">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}