{% extends 'MasterData/base.html' %}

{% block content %}

{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}

{{ form.non_field_errors }}

<form method="post" class="post-form" id="NewHireForm">
    {% csrf_token %}
    <table id="NewHireTable" class="table table-striped">
        <tr>
            <th colspan="2">Member Information</th>
        </tr>

        <tr>
            <td class="labelcell">First Name:</td>
            <td class="inputcell">{{ form.FirstName }}</td>
        </tr>
        <tr>
            <td class="labelcell">Last Name:</td>
            <td class="inputcell">{{ form.LastName }}</td>
        </tr>
        <tr>
            <td class="labelcell">Credentials:</td>
            <td class="inputcell">{{ form.Credentials }}</td>
        </tr>
        <tr>
            <td class="labelcell">Account Name:</td>
            <td class="inputcell">{{ form.AccountName }}</td>
        </tr>
        <tr>
            <td class="labelcell">Start Date:</td>
            <td class="inputcell">{{ form.StartDate }}</td>
        </tr>
        <tr>
            <td class="labelcell">Company:</td>
            <td class="inputcell">{{ form.CompanyID }}</td>
        </tr>
        <tr>
            <td class="labelcell">Title:</td>
            <td class="inputcell">{{ form.JobTitleID }} <br />
            <br />Other:{{ form.Title }}</td>
        </tr>
        <tr>
            <td class="labelcell">Department:</td>
            <td class="inputcell">{{ form.DeptID }}</td>
        </tr>
        <tr>
            <td class="labelcell">Manager:</td>
            <td class="inputcell">{{ form.ManagerID }}</td>
        </tr>
        <tr>
            <td class="labelcell">Employment Status:</td>
            <td class="inputcell">{{ form.EmpStatus }}</td>
        </tr>
        <tr>
            <td class="labelcell">Office Location:</td>
            <td class="inputcell">{{ form.OfficeLocation }}</td>
        </tr>
        <tr>
            <td class="labelcell">Office/Workspace #:</td>
            <td class="inputcell">{{ form.OfficeNumber }}</td>
        </tr>
    </table>
    <button type="Submit" class="save btn btn-default">Save</button>
    <button type="button" class="btn btn-default" onclick="window.location='{% url 'list' %}';return false;">Cancel</button>
</form>

{% endblock %}