{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Is this the Correct Information?" %}</h1>

<!-- form may need to encapsulate several areas, so include starting tag up here -->
<form action="" method="post">{% csrf_token %}

{% if coreForm%}
 {% for group in coreForm %}
   <p>{{ group }}</p>
 {% endfor %}
{% endif %}

<table>
{% for label, data in preview_data.iteritems %}
<tr>
<th>{{ label }}:</th>
<td>{{ data }}</td>
</tr>
{% endfor %}
</table>

<!-- <p>{% blocktrans %}Security hash: {{ hash_value }}{% endblocktrans %}</p> -->


{% for field in form %}{{ field.as_hidden }}
{% endfor %}
<input type="hidden" name="{{ stage_field }}" value="2" />
<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
<p><input type="submit" value="{% trans "Submit" %}" /></p>
</form>

<h1>{% trans "If needed, re-enter any fields" %}</h1>

<form action="" method="post">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="hidden" name="{{ stage_field }}" value="1" />
<p><input type="submit" value="{% trans "Preview" %}" /></p>
</form>

{% endblock %}
