{% extends 'MasterData/base.html' %}
{% load i18n %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}
{{ form.non_field_errors }}

<form class="post-form" method="post" id="NewHireForm">
    {% csrf_token %}
    <table id="NewHireTable" class="table table-striped">
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            <tr>
                <td>Test</td>
                <td>If you're reading this you know what happened</td>
            </tr>
        {% else %}
        <tr>
            <th colspan="2">Additional Requirements</th>
        </tr>
        <tr>
            <th colspan="2">Office Services</th>
        </tr>
        <tr>
            <td class="labelcell">Set-up security pass and provide to PR</td>
            <td class="inputcell">{{ form.SecurityPass }}</td>
        </tr>
        <tr>
            <td class="labelcell">Set-up parking pass and provide to PR</td>
            <td class="inputcell">{{ form.ParkingPass }}</td>
        </tr>
        <tr>
            <td class="labelcell">Put name on door/workspace</td>
            <td class="inputcell">{{ form.NameOnDoor }}</td>
        </tr>
        <tr>
            <td class="labelcell">Complete ergonomic evaluation</td>
            <td class="inputcell">{{ form.ErgonomicEvaluation }}</td>
        </tr>
        <tr>
            <td class="labelcell">Provide standard office supplies</td>
            <td class="inputcell">{{ form.StandardSupplies }}</td>
        </tr>
        <tr>
            <td class="labelcell">Order Business Cards</td>
            <td class="inputcell">{{ form.BusinessCards }}</td>
        </tr>
        <tr>
            <th colspan="2">Information Technology Services</th>
        </tr>
        <tr>
            <td class="labelcell">Set up computer</td>
            <td class="inputcell">{{ form.SetUpComputer }}</td>
        </tr>
        <tr>
            <td class="labelcell">Provide training headset to office/workspace</td>
            <td class="inputcell">{{ form.TrainingHeadset }}</td>
        </tr>
        <tr>
            <td class="labelcell">Set up Polycom phone</td>
            <td class="inputcell">{{ form.PolycomPhone }}</td>
        </tr>
        <tr>
            <td class="labelcell">Set up desk phone number</td>
            <td class="inputcell">{{ form.DeskPhoneNumber }}</td>
        </tr>
        <tr>
            <td class="labelcell">Set up time keeper number</td>
            <td class="inputcell">{{ form.TimekeeperNumber }}</td>
        </tr>
        <tr>
            <td class="labelcell">Set up with Elite 3E Access</td>
            <td class="inputcell">{{ form.EliteAccess }}</td>
        </tr>
        <tr>
            <td class="labelcell">Other Software:</td>
            <td class="inputcell">{{ form.OtherSoftware }}</td>
        </tr>
        <tr>
            <td class="labelcell">Set up remote access</td>
            <td class="inputcell">{{ form.RemoteAccess }}</td>
        </tr>
        <tr>
            <td class="labelcell">Set-up mobile phone</td>
            <td class="inputcell">{{ form.SetUpMobilePhone }}</td>
        </tr>
        <tr>
            <th colspan="2">CD&S(For posting to the external website)</th>
        </tr>
        <tr>
            <td class="labelcell">Take photograph & develop biography for external website</td>
            <td class="inputcell">{{ form.PhotoAndBio }}</td>
        </tr>
        <tr>
            <th colspan="2">Library & Information Services</th>
        </tr>
        <tr>
            <td class="labelcell">Add to library routing list</td>
            <td class="inputcell">{{ form.LibraryRouting }}</td>
        </tr>
        <tr>
            <td class="labelcell">Provide Quicklaw password</td>
            <td class="inputcell">{{ form.QuicklawPassword }}</td>
        </tr>
        <tr>
            <th colspan="2">Finance & Accounting</th>
        </tr>
        <tr>
            <td class="labelcell">Create Elite #</td>
            <td class="inputcell">{{ form.EliteNumber }}</td>
        </tr>
        {% endif %}
    </table>
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{wizard.steps.first}}">{% trans "Reset" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">{% trans "Prev Step" %}</button>
    {% endif %}
    <input type="submit" value="{% trans 'submit' %}"/>
</form>
{% endblock %}