{% extends 'MasterData/base.html' %}
{% load i18n %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}
{{ form.non_field_errors }}

<form class="post-form" method="post" id="NewHireForm">
    {% csrf_token %}
    <table id="NewHireTable" class="table table-striped">
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            <tr>
                <td>Groups</td>
                <td>{{ form.CoreGroup }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Groups</td>
                <td>{{ form.CoreGroup }}</td>
            </tr>
        {% endif %}
    </table>
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{wizard.steps.first}}">{% trans "Reset" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">{% trans "Prev Step" %}</button>
    {% endif %}
    <input type="submit" value="{% trans 'submit' %}"/>
</form>
{% endblock %}