{% extends 'MasterData/base.html' %}
{% load i18n %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}
{{ form.non_field_errors }}

<form class="post-form" method="post" id="NewHireForm">
    {% csrf_token %}
    <table id="NewHireTable" class="table table-striped">
        {{ wizard.management_form }}
        {% if wizard.form.forms %} <!-- Since you use multiple templates, will rarely trigger this step -->
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %} <!-- Make your form customizations here instead -->
                    <tr>
            <th colspan="2">Member Information</th>
        </tr>

        <tr>
            <td class="labelcell">First Name:</td>
            <td class="inputcell">{{ form.FirstName }}</td>
        </tr>
        <tr>
            <td class="labelcell">Last Name:</td>
            <td class="inputcell">{{ form.LastName }}</td>
        </tr>
        <tr>
            <td class="labelcell">Credentials:</td>
            <td class="inputcell">{{ form.Credentials }}</td>
        </tr>
        <tr>
            <td class="labelcell">Account Name:</td>
            <td class="inputcell">{{ form.AccountName }}</td>
        </tr>
        <tr>
            <td class="labelcell">New/Rehired/Returning Member:</td>
            <td class="inputcell">{{ form.NRR }}</td>
        </tr>
        <tr>
            <td class="labelcell">Member #:</td>
            <td class="inputcell">{{ form.MemberNum }}</td>
        </tr>
        <tr>
            <td class="labelcell">Start Date:</td>
            <td class="inputcell">{{ form.StartDate }}</td>
        </tr>
        <tr>
            <td class="labelcell">Company:</td>
            <td class="inputcell">{{ form.CompanyID }}</td>
        </tr>
        <tr>
            <td class="labelcell">Title:</td>
            <td class="inputcell">{{ form.JobTitleID }} <br />
            <br />Other:{{ form.Title }}</td>
        </tr>
        <tr>
            <td class="labelcell">Department:</td>
            <td class="inputcell">{{ form.DeptID }}</td>
        </tr>
        <tr>
            <td class="labelcell">Manager:</td>
            <td class="inputcell">{{ form.ManagerID }}</td>
        </tr>
        <tr>
            <td class="labelcell">Employment Status:</td>
            <td class="inputcell">{{ form.EmpStatus }}</td>
        </tr>
        <tr>
            <td class="labelcell">Employment Type:</td>
            <td class="inputcell">{{ form.EmpType }}</td>
        </tr>
        <tr>
            <td class="labelcell">Office Location:</td>
            <td class="inputcell">{{ form.OfficeLocation }}</td>
        </tr>
        <tr>
            <td class="labelcell">Office/Workspace #:</td>
            <td class="inputcell">{{ form.OfficeNumber }}</td>
        </tr>
        {% endif %}
    </table>
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{wizard.steps.first}}">{% trans "Reset" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{wizard.steps.prev}}">{% trans "Prev Step" %}</button>
    {% endif %}
    <input type="submit" value="{% trans 'submit' %}"/>
</form>
{% endblock %}