input {
-webkit-border-radius: 4px;
-moz-border-radius: 5px;
border-radius: 4px;
}

select {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#NewHireForm {
    margin-bottom: 10px;
}

#NewHireTable {
    width: 60%;
}

#NewHireTable th {
    text-align: center;
}

#NewHireTable input {
    width: 60%
}

#NewHireTable .labelcell {
    font-weight: bold;
    font-size: 110%;
    background-color: #EEEEEE;
}

#NewHireTable .inputcell {
    background-color: #FAFAFA;
}

.navbar-custom {
    background-color: #E31937!important;
    color: #ffffff;
}

.navbar-custom .navbar-nav > li > a {
    background-color: #E31937!important;
    color: #ffffff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active >a: focus {
    background-color: #E31937!important;
    color: #ffffff;
}